@*@model Tournament


<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Tournament</h2>
            <hr />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="TournamentName" class="p-0"></label>
            <input asp-for="TournamentName" class="form-control" />
            <span asp-validation-for="TournamentName" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Description" class="p-0"></label>
            <input asp-for="Description" class="form-control" />
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Tournament" asp-action="Index" class="btn btn-secondary form-control border">Back to List</a>
            </div>
        </div>
    </div>
</form>*@

@model Tournament

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Tournament</h2>
            <hr />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="TournamentName" class="p-0"></label>
            <input asp-for="TournamentName" class="form-control" />
            <span asp-validation-for="TournamentName" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Description" class="p-0"></label>
            <input asp-for="Description" class="form-control" />
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button id="sendButton" type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Tournament" asp-action="Index" class="btn btn-secondary form-control border">Back to List</a>
            </div>
        </div>
    </div>
</form>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Tour.js"></script>